{% block button %}

    <button>
        <a href="index.php?access=article_modifyArticle&id={{article.id}}">Modifier</a>
    </button>

    <button>
        <a href="index.php?access=article_alertDeleteArticle&id={{article.id}}">Supprimer</a>
    </button>

{% endblock %}