{% block gallerie %}

        {% if user.role == 1 %}

            {% block createArticle %}

                {% include "articles/articleCreate.twig" %}

            {% endblock %}
                
        {% endif %}

        {% block article %}
        
            {% include "articles/articleList.twig" %}
        
        {% endblock %}

        {% for commentaire in commentaires %}
    
            {% if commentaire.articleId == article.id %}
                <p>{{ commentaire |length }}</p>
            {% endif %}
            
        {% endfor %}

{% endblock %}
