{% block createArticle %}

    <h2>Créer une nouvelle publication</h2>

    <form action="index.php?access=article_createArticle" enctype="multipart/form-data" method="POST">

        <div class="mb-3">
            <label for="title" class="form-label">Titre de votre publication</label>
            <input type="text" name="title" class="form-control form-control-lg" id="title" required>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Ecrivez votre article</label>
            <textarea class="form-control" name="content" id="content" rows="10" required placeholder="Il était une fois"></textarea>
        </div>

        <div class="mb-3">
            <label for="img" class="form-label"></label>
            <input type="file" name="img" class="form-control" id="img" required>
        </div>

        <button class="btn btn-primary">Publier</button>
    </form>

{% endblock %}