{% block createArticle %}

    <h2>Créer une nouvelle publication</h2>

    <form action="index.php?access=article_createArticle" enctype="multipart/form-data" method="POST">

        <div class="mb-3">
            <label for="title_article" class="form-label">title de votre publication</label>
            <input type="text" name="title_article" class="form-control form-control-lg" id="title_article" required>
        </div>

        <div class="mb-3">
            <label for="article_content" class="form-label">Ecrivez votre article</label>
            <textarea class="form-control" name="article_content" id="article_content" rows="10" required placeholder="Il était une fois"></textarea>
        </div>

        <div class="mb-3">
            <label for="article_img" class="form-label"></label>
            <input type="file" name="article_img" class="form-control" id="article_img" required>
        </div>

        <button class="btn btn-primary">Publier</button>
    </form>

{% endblock %}