
    {% block createArticle %}
        <div>
        <form action="index.php?access=article_createArticle" method="post" enctype="multipart/form-data">
        
        <label for="titre">Titre de votre article</label>
        <input type="text" name="titre" id="titre" required>
        <textarea name="article" id="article" cols="30" rows="10" required></textarea>
        <input type="file" name="img" id="img" accept="image/*"  required> 

        <button>Publier</button>

        </form>
    </div>

    {% endblock %}

