{% extends"layout/layout.twig"%}

{% block title %}{% endblock %}

{% block content %}

    <main class="container">

        <h1 class="text-center">Bienvenue sur mon blog</h1>





 

        {% block gallerie %}

        {% include"alerts/alert.twig"%}

        {% if user.role > 0  %}
        
            <a href="index.php?access=article_addArticle"><button class="btn btn-primary ">Ajouter un article</button></a> 
        
        {% endif %}
    
            {% include"articles/articleList.twig"%}
            
        {% endblock %}

    </main>

{% endblock %}


    