{% extends"layout/layout.twig"%}

{% block title %}{% endblock %}

{% block content %}

    <main>

        <h1>Bienvenue sur mon blog</h1>

        <img src="../public/img/bg.jpeg"alt="gossBo">

        {% block createArticle %}{% endblock %}

        {% block gallerie %}

        {% include"alerts/alert.twig"%}

        {% if user.role > 0  %}
        
            <a href="index.php?access=article_addArticle"><button>Ajouter un article</button></a> 
        
        {% endif %}
    
            {% include"articles/articleList.twig"%}
            
        {% endblock %}

    </main>

{% endblock %}


    