{% block edit %}

<form action="">


    <div class="mb-3">
    
        <label for="commentaire_contenu" class="form-label">Votre nouveau commentaire: </label>

        <textarea class="form-control" name="commentaire_contenu" id="commentaire_contenu" rows="10" required placeholder="Il était deux fois">
        
            {{ myCommentaire.contenu}}
        
        </textarea>
    </div>

    <button class="btn btn-primary d-block">Modifier</button>


</form>

{% endblock %}