{# {% block updateComment %}

<form action="">
    <textarea name="comment" id="comment" cols="30" rows="10"> {{ comment.contenu }} </textarea>
    <input type="file" name="img" id="img">
    <button type="submit" >Enregister les modifications</button>
</form>

{% endblock %} #}