{% block login %}

    <form action="index.php?access=auth_login"method="post">
    
        <div class="mb-3">
            <label for="email"class="form-label">Adresse email</label>
            <input type="email"class="form-control"id="email"name="email"placeholder="name@example.com">
        </div>


        <div class="mb-3">
            <label for="password"class="form-label">Mot de passe</label>
            <input type="password"class="form-control"id="password"name="password">
        </div>

        <button class="btn btn-primary">Se connecter</button>

    </form>

    <p>
        Vous n'avez pas de compte ?
    </p>

    <a href="index.php?access=auth_createAccount">
        <button class="btn btn-primary">S'inscrire</button>
    </a>

{% endblock %}