
{% extends "layout/layout.twig" %}


{% block main %}


  {% block content %}




    <h2>Se connecter</h2>

    {% if alert %}
    <div class="alert alert-danger">
        {{ message }}
    </div>

{% endif %}

<br>

    <form action="index.php?access=auth!login" method="post">
        <div>
            <label for="email">Adresse email</label>
            <input type="email" name="email" id="email">
        </div>

        <div>
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password">
        </div>


        <button type="submit">Se connecter</button>

</form>

{% endblock %}

<a href="index.php?access=auth!createAccount">Pas encore inscrit</a>

{% endblock %}

