{% extends "layout/layout.twig" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-6 text-center">
        <form action="index.php?access=auth_sendPassword" method="post" class="d-flex flex-column">

        <label for="email">Adresse mail de récupération</label>
        <input type="email" id="email" name="email" placeholder="name@example.com">

        <button class="btn btn-primary col-2 mt-2">Envoyer</button>

    </form>
    </div>
</div>

    


{% endblock %}