{% block signup %}

        <div class="mb-3">
            <label for="userName">Nom d'utilisateur</label>
            <input type="text" class="form-control" id="userName" required>
        </div>

        <div class="mb-3">
            <label for="password_check" class="form-label">Vérifiez votre mot de passe</label>
            <input type="password" class="form-control" id="password_check" required>
        </div>

{% endblock %}