{% block signup %}

    <form action="index.php?access=auth_signup" method="post">

            <div class="mb-3">
                <label for="userName" class="form-label" required>Nom d'utilisateur</label>
                <input type="text" class="form-control" id="userName" name="userName" placeholder="Casimir">
            </div>
        
            <div class="mb-3">
                <label for="email" class="form-label">Adresse email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            </div>

             <div class="mb-3">
                <label for="email_check" class="form-label">Confirmer votre mail</label>
                <input type="email" class="form-control" id="email_check" name="email_check" placeholder="confirm@example.com">
            </div>


            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>

            <button class="btn btn-primary">S'inscrire</button>

        </form>

        <p>
        
            Vous avez déjà un compte ?

            <a href="index.php?access=auth_default">
                <button class="btn btn-primary">Se connecter</button>
            </a>
        
        </p>

    {% endblock %}