<footer>

    <ul>
    
    <li>Copyright</li>
    <li>Politique de confidentialité</li>
    <li>CGU</li>
    <li>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-tiktok"></i>
    </li>

    
    </ul>

</footer>