<!DOCTYPE html>
{% block head %}
    {% include "layout/head.twig" %}
{% endblock %}

{% block header %}
    {% include "layout/header.twig" %}
{% endblock %}

<body>


{% block main %}

    {% block content %}
        {% block auth %}{% endblock %}
    {% endblock %}

    {% block alert %}{% endblock %}

    {% block article %}{% endblock %}

{% endblock %}


    
</body>

{% block footer %}
    {% include "layout/footer.twig" %}
{% endblock %}

</html>