<!DOCTYPE html>

    {% block header %}

        {% include "layout/header.twig" %}

    {% endblock %}

    <body>

        {% block main %}

                {% block content %}

                    {% block auth %}{% endblock %}

                    {% block edit %}{% endblock %}

                    {% block alert %}{% endblock %}

                {% endblock %}

            {% block article %}{% endblock %}

        {% endblock %}

    </body>

    {% block footer %}

        {% include "layout/footer.twig" %}

    {% endblock %}

</html>