
{% include "layout/head.twig" %}

<nav>
    <ul>
   
        <li>
            <a href="index.php?access=home" accesskey="h" title="Home">Accueil
                <i class="fas fa-home fa-fw fa-3x" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="index.php?access=presentation" accesskey="p">Qui suis-je ?</a>
            </li>
        <li>
            <a href="index.php?access=account" accesskey="a">Mon compte</a>
        </li>
        <li>
            <a href="mailto:alexisbateaux@gmail.com" accesskey="c" title="Contact">
                <i class="fas fa-at fa-fw fa-3x" aria-hidden="true">Contact</i>
            </a>
        </li>
    </ul>
</nav>