{% block nav %}
    <nav>
    <ul>
   
        <li>
            <a href="index.php?access=home" accesskey="h" title="Home">Accueil
                <i class="fas fa-home " aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="index.php?access=presentation" accesskey="p">Qui suis-je ?</a>
            </li>

            <li>
            <a href="mailto:alexisbateaux@gmail.com" accesskey="c" title="Contact">
                Contact <i class="fas fa-at" aria-hidden="true"></i>
            </a>
        </li>
    

        {% if user %}
                <li>
                    <a href="index.php?access=account" accesskey="a"> {{ user.userName }} </a>
                </li>
                <li>
                <a href="index.php?access=auth_logout" accesskey="x" title="logout">
                    <i class="fa-duotone fa-right-to-bracket"></i>Se Déconnecter</i>
                </a>
            </li>

            {% else %}
                    <li>
            <a href="index.php?access=auth" accesskey="l" title="login">
                Se Connecter / S'inscrire <i class="fa-duotone fa-right-from-bracket"></i>
            </a>
        </li>
             
        {% endif %}
        
    
           
    </ul>
</nav>
{% endblock %}
