{% extends"articles/articleSingle.twig"%}

{% block alert %}

    <form action=""method="post">
    
        <div class="form-group">
        
            <label for="alert">Êtes-vous certain de vouloir supprimer cet article ?</label>
            <button>Supprimer</button>
            <button>Annuler</button>
        
        </div> 

    </form>

{% endblock %}